// Define variables for your color scheme

// For example:
$red: #F87060; // Old color --> #FD1015
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$plastroc-main: #00CD60;
$plastroc-secondary: #00C2B0;
$plastroc-background: #FFF;
$plastroc-card-background: #FAFAFA;
$plastroc-additional: #9A9A9A;
$plastroc-text: #737373;
$plastroc-text-light: #FFF;
$plastroc-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
$coral: #F24B88;
$turtle: #63AEBF;
$dolphin: #F2C230;
$wale: #F29544;
