<div class="container">
  <h4 class="mt-3">Editer Organisation</h4>
  <%= render 'form' %>
  <%= link_to 'Annuler', organisation_path(@organisation), class: "btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button" %>
</div>
