<div class="container">
  <h4 class="mt-3">Nouvelle Organisation</h4>
  <%= render 'form' %>
  <%= link_to 'Annuler', campaign_path(@campaign), class: "btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button" %>
</div>
