<div class="container" style="margin-bottom: 75px;">
  <div class="d-flex align-items-center justify-content-left">
    <%= link_to '◀︎', user_path(current_user), class: "btn btn-outline-primary rounded-pill d-block plastroc-outline-button mr-5" %>
    <h2 class="mb-0">Classement</h2>
  </div>
  <ul class="list-group">
    <% @users.order(:xp).reverse.each do |user| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <%= user.first_name %>
          <% if user == current_user %>
            <span class="badge badge-info badge-pill ml-3">you</span>
          <% elsif user.admin %>
            <span class="badge badge-dark badge-pill ml-3">admin</span>
          <% end %>
        </div>
        <div class="d-flex">
          <span class="badge badge-primary badge-pill"><i class="fas fa-trophy"></i> <%= user.xp %></span>
        </div>
      </li>
    <% end %>
</ul>
</div>
