<div class="bottom-nav">
    <div class="d-flex justify-content-around">
        <p><i class="fas fa-home"></i></p>
        <p><i class="fas fa-search"></i></p>
        <p><i class="fas fa-user"></i></p>
    </div>
</div>
