<h1>Components design</h1>

<div class="container">
  <div class="d-flex flex-row card card-s">
    <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    <section>
      <h6>headline 6</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </section>
  </div>
</div>

<div class="container">
  <div class="card card-m">
    <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    <span class="badge badge-pill badge-success">Step 1</span>
    <section>
      <h6>headline 6</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec diam placerat, imperdiet nunc sit amet, elementum lectus. Nullam quis venenatis odio, sit amet interdum ligula. Integer mattis diam ut finibus elementum. Cras nec nibh orci. </p>
    </section>
  </div>
</div>
