.banner {
  height: 25vh;
  background-size: cover;
  background-position: center;
  color: $plastroc-text-light;
  padding-bottom: 3vh;
  padding-top: 1vh;
  z-index: -1;
  h6 {
    font-weight: normal;
  }
  a {
    color: $plastroc-text-light;
  }
}
