.banner {
  height: 25vh;
  background-size: cover;
  background-position: center;
  color: $plastroc-text-light;
  padding-bottom: 3vh;
  padding-top: 1vh;
  z-index: -1;
  h6 {
    font-weight: normal;
  }
  a {
    color: $plastroc-text-light;
  }
}

.home-banner {
   color: white;
   background-color: $plastroc-main;
   background-size: 40%;
   background-repeat: no-repeat;
   background-position: bottom 0px right -10px;
}
