.plastroc-button {
  border: none;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .05em;
}
.plastroc-outline-button {
  background: $plastroc-text-light;
  box-shadow: $plastroc-shadow;
  border: none;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .05em;
}
