.plastroc-button {
  border: none;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .05em;
}
.plastroc-outline-button {
  background: $plastroc-card-background;
  box-shadow: $plastroc-shadow;
  border: none;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .05em;
}

.plastroc-button-sticky-bottom {
  position: sticky;
  bottom: 0px;
}
