.filter_search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 6px;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    color: $light-gray;
    background-color: $primary;
  }
  input[type="checkbox"] + label {
    border: 1px solid $primary;
    background-color: $light-gray;
    color: $primary;
    margin: 6px 3px;
  }
}
