#address-for-autocomplete {
  background: $plastroc-text-light;
  border: none;
  border-radius: 50px;
  box-shadow: $plastroc-shadow;
  padding: 8px;
  color: $plastroc-text;
  &:focus{
    border: none;
    outline: none;
  }
}

input {
  background: $plastroc-card-background;
  border: none;
  border-radius: 50px;
  box-shadow: $plastroc-shadow;
  padding: 8px;
  color: $plastroc-text;
}
textarea:focus, input:focus {
  border: none;
  outline: none;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    background: $plastroc-card-background;
    border-radius: 20px;
    resize: none;
    border: none;
    box-shadow: $plastroc-shadow;
    padding: 8px 16px;
}
.form-control {
  border-radius: 20px;
  background: $plastroc-card-background;
  box-shadow: $plastroc-shadow;
  border: none;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.flatpickr-input[readonly],
.form-control:disabled,
.form-control[readonly] {
  background: #FAFAFA;
}
