input {
  background: $plastroc-card-background;
  border: none;
  border-radius: 50px;
  box-shadow: $plastroc-shadow;
  padding: 8px;
  color: $plastroc-text;
}
textarea:focus, input:focus {
  border: none;
  outline: none;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    background: $plastroc-card-background;
    border-radius: 20px;
    resize: none;
    border: none;
    box-shadow: $plastroc-shadow;
    padding: 8px 16px;
}
