input {
  background: $plastroc-card-background;
  border: none;
  border-radius: 50px;
  box-shadow: $plastroc-shadow;
  padding: 8px;
  color: $plastroc-text;
}
textarea:focus, input:focus {
  border: none;
  outline: none;
}

textarea {
    width: 100%;
    background: $plastroc-card-background;
}
