.map-container {
  position: relative;
}

.map-transition {
  height: 120px;
  width: 100%;
  z-index: 10;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
}

// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  max-width: 200px;
  border-radius: 45px;
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 45px;
}

button.mapboxgl-popup-close-button {
    display: none;
}
