.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.bottom-nav {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $plastroc-card-background;

    p {
        width: 100%;
        text-align: center;
        border-top: 3px solid lightgrey;
        color: lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-bottom: 0;
        transition-duration: .15s;
        transition-timing-function: ease-in-out;
    }

    p:hover {
        color: $primary;
        border-top: 3px solid $primary;

    }

    .active-tab {
        border-top: 3px solid $primary;
        color: $primary;
    }
}
