.package-badge {
  background-color: $plastroc-card-background;
  box-shadow: $plastroc-shadow;
  margin: 5px 0px;
  border-radius: 20px;
  color: $plastroc-text;

  i {
      font-size: 14px;
  }
}

.package-badge-square {
  height: 120px;
  width: 120px;
  overflow: hidden;
  h6 {
    color: white;
    margin: 0;
  }
}

.package-badge-fluid {
  height: 90px;
  overflow: hidden;
  h6 {
    color: white;
    margin: 0;
  }
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.package-header {
  width: 100%
}

.package-header-fluid {
  height: 100%;
  width: 50%;
}

.corail {
  background: rgb(242,75,136);
  background: linear-gradient(90deg, rgba(242,75,136,1) 45%, rgba(242,75,136,0.515284) 100%);
}

.tortue {
  background: rgb(99,174,191);
background: linear-gradient(90deg, rgba(99,174,191,1) 55%, rgba(99,174,191,0.639653) 100%);
}

.dauphin {
  background: rgb(242,194,48);
  background: linear-gradient(90deg, rgba(242,194,48,1) 53%, rgba(242,194,48,0.41360294117647056) 100%);
}

.baleine {
  background: rgb(242,149,68);
  background: linear-gradient(90deg, rgba(242,149,68,1) 55%, rgba(242,149,68,0.586432) 100%);
}
