.package-badge {
  background-color: $plastroc-card-background;
  box-shadow: $plastroc-shadow;
  margin: 5px 0px;
  border-radius: 20px;
  color: $plastroc-text;

  i {
      font-size: 14px;
  }
}

.package-badge-square {
  height: 120px;
  width: 120px;
}

.package-badge-fluid {
  height: 90px;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
