.plastroc-progress-bar:first-child {
  height: 25px;
  background: red;
}

.plastroc-progress-bar {
  height: auto;
  border-radius: 20px;
  display: grid;
  box-shadow: $plastroc-shadow;
  background: $plastroc-text-light;
}
.plastroc-progress-bar div {
  height: auto;
  width: 40%;
  box-shadow: $plastroc-shadow
}
// .plastroc-progress-bar div:last-child {
//   background: grey;
// }

#myEngagedBar {
  width: 10%;
  height: auto;
  background-color: $plastroc-secondary;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  font-size: 12px;
  font-weight: bold;
}

#myDoneBar {
  width: 10%;
  height: auto;
  background-color: $plastroc-main;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  font-size: 12px;
  font-weight: bold;
}
