// Plastroc font styles
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 61px;
    line-height: 83px;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.5px;
}

h3 {
    font-size: 39px;
    line-height: 53px;
}

h4 {
    font-size: 31px;
    line-height: 42px;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 20px;
    line-height: 27px;
}

h6 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15px;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
}
