.plastroc-light-shadow {
  box-shadow: $plastroc-shadow;
}
.plastroc-text-shadow {
   text-shadow: $plastroc-shadow;
}

.plastroc-bg-primary-gradient {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255, 0) 99.23%), #00CD60;
}
.page-title {
    &:after {
        content: "";
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px auto -8px;
        background: $plastroc-main;
        border-radius: 2px;
    }
}


.homewraper {
   height: 100vh;

   #logo {
      margin-top: 80px;
      span {
         color: $plastroc-main;
      }
   }
   a {
      z-index: 999;
   }
   .green {
      height: 100px;
      background: $plastroc-main;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
   }
   .girl-image {
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: fixed;
      bottom: -240px;
      right: -56px;
      width: 120%;

   }
}
#logout {
   opacity: 0.8;
   transition-duration: .3s;
   &:hover {
      opacity: 1;
   }
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $plastroc-background;
}
