.plastroc-light-shadow {
  box-shadow: $plastroc-shadow;
}

.plastroc-bg-primary-gradient {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255, 0) 99.23%), #00CD60;
}
.page-title {
    &:after {
        content: "";
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px auto -8px;
        background: $plastroc-main;
        border-radius: 2px;
    }
}
