<div class="container">
  <h3>Mes Campagnes</h3>
  <% @campaigns.each do |campaign| %>
    <div class="d-flex flex-row card card-s">
        <% if campaign.photo.attached?%>
           <img src="<%= cl_image_path campaign.photo.key %>"
              alt="">
        <% else %>
          <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
              alt="">
        <% end %>
        <section>
            <h6><%= campaign.name %></h6>
            <p><%= campaign.description %></p>
        </section>
    </div>
  <% end %>
</div>
