<div class="map-container relative">
  <div id="map"
       style="width: 100%; height: 500px;"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
   </div>
   <div class="map-transition">
     position absolu hauteur 50 width 100vw + gradient
     bottom 0 left 0
   </div>
</div>
  <h1>Missions index</h1>
